@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  color: #fff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgb(207, 56, 56), rgb(27, 83, 187));
}

#location,
#temperature {
  height: 30vh;
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#icon {
  height: 80%;
  width: auto;
}
#temperature {
  flex-direction: column;
}

#degree-section {
  display: flex;
  align-items: center;
  cursor: pointer;
}

#degree-section span {
  margin: 10px;
  font-size: 40px;
}

#degree-section h2 {
  font-size: 40px;
}

#temperature-description {
  font-size: 32px;
}

#time {
  font-size: 20px;
}
@media (max-width: 700px) {
  #icon {
    height: 100px;
    width: 100px;
  }
}
